<ion-view view-title="Main">
  <ion-content>

    <label class="item item-input item-select">
      <div class="input-label">
        Data size
      </div>
      <select ng-model="dataSize" ng-change="getData(dataSize)">
        <option value="100">100</option>
        <option value="10000">10000</option>
      </select>
    </label>

    <label class="item item-input">
      <input type="number" placeholder="Custom datasize" ng-model="dataSize" ng-change="getData(dataSize)">
    </label>

    <label class="item item-input">
      <input type="text" placeholder="Filter" ng-model="searchFilter">
    </label>

    <button class="button" ng-click="prevPage()">Prev</button>
    <button class="button" ng-click="nextPage()">Next</button>

    <div ng-if="selectedRow">
      <span>SELECTED ROW</span>
      <div class="row">
        <div class="col">{{selectedRow.id}}</div>
        <div class="col">{{selectedRow.name}}</div>
        <div class="col">{{selectedRow.price}}</div>
        <div class="col">{{selectedRow.quantity}}</div>
      </div>
    </div>

    <div>
      <div class="row">
        <div class="col" ng-repeat="(columnId, columnName) in columns" ng-click="sort(columnId)">{{columnName}}</div>
      </div>

      <div class="row" ng-repeat="item in visibleData | orderBy:sortBy | filter:searchFilter" ng-click="selectRow(item)">
        <div class="col">{{item.id}}</div>
        <div class="col">{{item.name}}</div>
        <div class="col">{{item.price}}</div>
        <div class="col">{{item.quantity}}</div>
      </div>
    </div>

  </ion-content>
</ion-view>
